services:
  rabbitmq:
    image: rabbitmq:4.1.5-management
    container_name: couponpop-rabbitmq
    hostname: ${RABBITMQ_HOSTNAME}
    volumes:
      - /data/rabbitmq-data:/var/lib/rabbitmq # EBS 볼륨 마운트 지점으로 변경
      - ./rabbitmq.conf:/etc/rabbitmq/rabbitmq.conf # config/ 서브디렉토리 제거
    ports:
      # 포트 기본값을 사용하도록 고정
      - "5672:5672"
      - "15672:15672"
      - "15692:15692"
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_DEFAULT_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_DEFAULT_PASS}
      RABBITMQ_NODENAME: rabbit@${RABBITMQ_HOSTNAME}
      RABBITMQ_ERLANG_COOKIE: ${RABBITMQ_ERLANG_COOKIE}
    command: >
      sh -c "rabbitmq-plugins enable --offline rabbitmq_prometheus && rabbitmq-server"
    healthcheck:
      test: [ "CMD", "rabbitmq-diagnostics", "-q", "ping" ]
      interval: 10s
      timeout: 5s
      retries: 3