services:
  prometheus:
    image: prom/prometheus
    container_name: couponpop-prometheus
    restart: unless-stopped
    command:
      - --config.file=/etc/prometheus/prometheus.yml
      - --storage.tsdb.path=/prometheus
      - --storage.tsdb.retention.time=7d
      - --web.enable-lifecycle
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml # (1) 설정 파일
      - /data/prometheus:/prometheus                   # (2) 데이터 저장 (EBS 볼륨)
      - ./targets:/etc/prometheus/targets # ecs_discovery와 공유
    ports:
      - "${PROMETHEUS_PORT}:9090"
    depends_on:
      - mysqld_exporter
      - ecs_discovery

  ecs_discovery:
    image: 802318301972.dkr.ecr.ap-northeast-2.amazonaws.com/couponpop/custom-ecs-discovery:latest
    container_name: couponpop-ecs-discovery
    restart: unless-stopped
    environment:
      - AWS_REGION=ap-northeast-2
    command:
      - -config.cluster=couponpop-ecs-cluster
      - -config.write-to=/output/ecs_file_sd.yml # prometheus와 공유
      - -config.scrape-interval=1m0s
    volumes:
      - ./targets:/output # 호스트의 ./targets를 컨테이너 내부의 /output에 매핑

  grafana:
    image: grafana/grafana
    container_name: couponpop-grafana
    restart: unless-stopped
    environment:
      GF_SECURITY_ADMIN_PASSWORD: ${GRAFANA_ADMIN_PASSWORD}
      GF_USERS_ALLOW_SIGN_UP: "false"
    volumes:
      - /data/grafana:/var/lib/grafana                  # (1) 데이터 저장 (EBS 볼륨)
      - ./grafana/provisioning:/etc/grafana/provisioning # (2) 설정 파일
      - ./grafana/dashboards:/var/lib/grafana/dashboards # (3) 대시보드 파일
    ports:
      - "${GRAFANA_PORT}:3000"
    depends_on:
      - prometheus

  mysqld_exporter:
    image: prom/mysqld-exporter
    container_name: couponpop-mysqld-exporter
    restart: unless-stopped
    command:
      - --mysqld.username=${MYSQLD_EXPORTER_USERNAME}
      - --mysqld.address=${DB_HOST}:${DB_PORT}
      # 원하는 수집 항목을 로컬과 동일하게 유지
      - --collect.global_status
      - --collect.engine_innodb_status
      - --collect.info_schema.userstats
      - --collect.perf_schema.tableiowaits
      - --collect.perf_schema.file_events
    environment:
      MYSQLD_EXPORTER_PASSWORD: ${MYSQLD_EXPORTER_PASSWORD}
    ports:
      - "${MYSQLD_EXPORTER_PORT}:9104"
