services:
  prometheus:
    image: prom/prometheus
    container_name: couponpop-prometheus
    restart: unless-stopped
    command:
      - --config.file=/etc/prometheus/prometheus.yml
      - --storage.tsdb.path=/prometheus
      - --storage.tsdb.retention.time=7d
      - --web.enable-lifecycle
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml # (1) 설정 파일
      - /data/prometheus:/prometheus                   # (2) 데이터 저장 (EBS 볼륨)
      - ./targets:/etc/prometheus/targets # CW 에이전트와 공유
    ports:
      - "${PROMETHEUS_PORT}:9090"
    depends_on:
      - mysqld_exporter

  cloudwatch-agent:
    image: amazon/cloudwatch-agent:latest
    container_name: couponpop-cw-agent
    restart: unless-stopped
    command: [ "amazon-cloudwatch-agent", "-config", "/etc/cwagent.json" ] # 1단계에서 만든 설정 파일을 컨테이너 내부로 마운트
    volumes:
      - ./targets:/etc/prometheus/targets # 1. Prometheus와 SD 결과 파일을 공유할 볼륨
      - ./cw-agent-config.json:/etc/cwagent.json # 2. CW 에이전트 설정 파일을 마운트
    environment:
      - AWS_REGION=ap-northeast-2 # (필수) 조회할 AWS 리전
    # (매우 중요) EC2 인스턴스 프로필(IAM 역할)을 사용해야 하므로,
    # 이 컨테이너가 ECS/EC2 API를 호출할 권한이 필요

  grafana:
    image: grafana/grafana
    container_name: couponpop-grafana
    restart: unless-stopped
    environment:
      GF_SECURITY_ADMIN_PASSWORD: ${GRAFANA_ADMIN_PASSWORD}
      GF_USERS_ALLOW_SIGN_UP: "false"
    volumes:
      - /data/grafana:/var/lib/grafana                  # (1) 데이터 저장 (EBS 볼륨)
      - ./grafana/provisioning:/etc/grafana/provisioning # (2) 설정 파일
      - ./grafana/dashboards:/var/lib/grafana/dashboards # (3) 대시보드 파일
    ports:
      - "${GRAFANA_PORT}:3000"
    depends_on:
      - prometheus

  mysqld_exporter:
    image: prom/mysqld-exporter
    container_name: couponpop-mysqld-exporter
    restart: unless-stopped
    command:
      - --mysqld.username=${MYSQLD_EXPORTER_USERNAME}
      - --mysqld.address=${DB_HOST}:${DB_PORT}
      # 원하는 수집 항목 유지
      - --collect.global_status
      - --collect.engine_innodb_status
      - --collect.info_schema.userstats
      - --collect.perf_schema.tableiowaits
      - --collect.perf_schema.file_events
    environment:
      MYSQLD_EXPORTER_PASSWORD: ${MYSQLD_EXPORTER_PASSWORD}
    ports:
      - "${MYSQLD_EXPORTER_PORT}:9104"
