global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  # 1. Prometheus ec2 모니터링
  - job_name: "prometheus-self"
    static_configs:
      - targets: [ "localhost:9090" ]

  # 2. Docker Compose 내부의 mysqld_exporter
  - job_name: "mysql-exporter"
    static_configs:
      - targets: [ "mysqld_exporter:9104" ]

  # 3. Fargate 서비스
  - job_name: 'fargate-services'
    file_sd_configs:
      - files:
          - /etc/prometheus/targets/ecs_auto_sd.yaml # CW Agent의 .yaml 파일을 바라보도록 설정
    #    metrics_path: /actuator/prometheus # 이 부분은 서비스에서 레이블로 덮어쓸 수 있음

    # (필수) file_sd로 가져온 레이블을 Prometheus가 사용하도록 재설정
    relabel_configs:
      - source_labels: [ __meta_ecs_container_name ]
        target_label: container_name
      - source_labels: [ job ] # cw-agent-config.json의 "sd_job_name_label"
        target_label: job
      - source_labels: [ __metrics_path__ ] # cw-agent-config.json의 "sd_metrics_path_label"
        target_label: __metrics_path__