global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  # 1. Prometheus ec2 모니터링
  - job_name: "prometheus-self"
    static_configs:
      - targets: [ "localhost:9090" ]

  # 2. Docker Compose 내부의 mysqld_exporter
  - job_name: "mysql-exporter"
    static_configs:
      - targets: [ "mysqld_exporter:9104" ]

  # 3. Fargate 서비스 -> cloudwatch로 대체