global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  # 1. Prometheus ec2 모니터링
  - job_name: "prometheus-self"
    static_configs:
      - targets: [ "localhost:9090" ]

  # 2. Docker Compose 내부의 mysqld_exporter
  - job_name: "mysql-exporter"
    static_configs:
      - targets: [ "mysqld_exporter:9104" ]

  # 3. Fargate 서비스 (teralytics/prometheus-ecs-discovery 사용)
  - job_name: 'fargate-services'
    file_sd_configs:
      - files:
          - '/etc/prometheus/targets/ecs_file_sd.yml' # Prometheus 컨테이너가 읽을 경로
    metrics_path: /actuator/prometheuos
    relabel_configs: # ECS 프록시 컨테이너 필터링을 위해 사용
      - source_labels: [ container_name ]
        regex: 'ecs-service-connect-.*' # 'ecs-service-connect-'로 시작하는 모든 컨테이너 이름을 필터링
        action: drop # 해당 대상을 Targets 목록에서 삭제

  # 4. RabbitMQ
  - job_name: 'rabbitmq'
    metrics_path: /metrics
    ec2_sd_configs:
      - region: ap-northeast-2
        port: 15692

    relabel_configs: # 필터링 및 주소 설정
      # 1단계: Role=rabbitmq 태그가 있는 인스턴스만 유지
      - source_labels: [ __meta_ec2_tag_Role ]
        regex: 'rabbitmq'
        action: keep

      # 2단계: AWS가 제공하는 프라이빗 IP(__meta_ec2_private_ip)를
      #         Prometheus의 스크랩 주소(__address__)로 교체
      - source_labels: [ __meta_ec2_private_ip ]
        regex: '(.*)'             # 프라이빗 IP 주소 전체를 식별
        replacement: '${1}:15692' # 캡처한 IP에 15692 포트 붙이기
        target_label: __address__