global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  # 1. Fargate 서비스 자동 탐지
  - job_name: 'fargate-services'
    metrics_path: '/actuator/prometheus'
    ecs_sd_configs:
      - region: ap-northeast-2
        clusters:
          - couponpop-ecs-cluster # Fargate 클러스터 이름
        port: 8080
    relabel_configs:
      # RUNNING 상태인 Task만 스크래핑
      - source_labels: [ __meta_ecs_task_last_status ]
        action: keep
        regex: RUNNING
      # Task Definition Family에서 '-task-definition' 부분을 제거하고 'job' 레이블로 사용
      - source_labels: [ __meta_ecs_task_definition_family ]
        target_label: job
        regex: (.*)-task-definition
        replacement: '$1'

  # 2. Docker Compose 내부의 mysqld_exporter
  - job_name: "mysql-exporter"
    static_configs:
      - targets: [ "mysqld_exporter:9104" ]

  # 3. Prometheus ec2 모니터링
  - job_name: "prometheus-self"
    static_configs:
      - targets: [ "localhost:9090" ]